<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dankmeme.globed2/icon-ban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{0,102},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-kick-all.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,95}</string>
			<key>spriteSourceSize</key>
			<string>{92,95}</string>
			<key>textureRect</key>
			<string>{{97,291},{92,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kick.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,95}</string>
			<key>spriteSourceSize</key>
			<string>{92,95}</string>
			<key>textureRect</key>
			<string>{{0,278},{92,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-level-list.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{194,291},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-logout.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,61}</string>
			<key>spriteSourceSize</key>
			<string>{59,62}</string>
			<key>textureRect</key>
			<string>{{257,136},{59,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,79}</string>
			<key>spriteSourceSize</key>
			<string>{76,79}</string>
			<key>textureRect</key>
			<string>{{176,136},{76,79}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-server-folder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{0,372},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{88,116},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unmute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,79}</string>
			<key>spriteSourceSize</key>
			<string>{76,79}</string>
			<key>textureRect</key>
			<string>{{0,187},{76,79}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unwhitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,75}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{163,214},{80,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-whitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,75}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{81,201},{80,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/menuicon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-admin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{67,71}</string>
			<key>textureRect</key>
			<string>{{252,0},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-helper.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{67,71}</string>
			<key>textureRect</key>
			<string>{{102,48},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-mod.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{67,71}</string>
			<key>textureRect</key>
			<string>{{172,48},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-user.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{66,68}</string>
			<key>spriteSourceSize</key>
			<string>{67,71}</string>
			<key>textureRect</key>
			<string>{{242,68},{66,68}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,46}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{202,0},{48,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-yellow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,46}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{152,0},{48,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,46}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{102,0},{48,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dankmeme.globed2/globedsheet1-hd.png</string>
		<key>size</key>
		<string>{320,455}</string>
		<key>textureFileName</key>
		<string>dankmeme.globed2/globedsheet1-hd.png</string>
	</dict>
</dict>
</plist>